<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BuzzList</title>
  <link rel="icon" type="image/x-icon" href="/bootstrap-logo.svg">
  <!-- Bootstrap CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Bootstrap Bundle with Popper -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  <!-- Font Awesome CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
    body {
      background-color: seashell;
    }
    
    .nav-link {
      margin: 0;
      border: 2px solid transparent;
      border-radius: 8px;
      transition: border-color 0.3s;
    }
    
    .nav-link:hover {
      border-color: green; /* Adjust the color to your preference */
    }

    #search-bar {
      margin: 0 auto; /* Center the search bar */
      max-width: 100%; /* Ensure search bar doesn't exceed screen width */
    }

    /* Mobile styles */
    @media (max-width: 576px) {
      .nav-link {
        margin: 10px 0; /* Adjust spacing for mobile */
      }
      #search-bar {
        width: 95%; /* Wider on mobile */
      }
    }

    /* Small laptops and above */
    @media (min-width: 768px) {
      .nav-link {
        margin: 0 15px; /* Adjust spacing for small laptops */
      }
      #search-bar {
        width: 80%; /* Moderate width on tablets */
      }
    }

    /* Desktops and above */
    @media (min-width: 992px) {
      .nav-link {
        margin: 0 25px; /* Adjust spacing for desktops */
      }
      #search-bar {
        width: 80%; /* More narrow on desktops */
      }
      #navbar-links {
        padding-left: 180px;
      }
    }

    
  </style>
</head>
