<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BuzzList</title>
  <link rel="icon" type="image/x-icon" href="/bootstrap-logo.svg">
  <!-- Bootstrap CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Bootstrap Bundle with Popper -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  <!-- Font Awesome CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
    body {
      background-color: seashell;
    }
    .nav-link {
      margin-left: 0;
      margin-right: 0;
      border: 2px solid transparent;
      border-radius: 8px;
      transition: border-color 0.3s;
    }

    @media (min-width: 768px) {
      /* Small laptops and above */
      .nav-link {
        margin-left: 10px;
        margin-right: 10px;
      }
      #search-bar {
        width: 40%;
      }
    }
    @media (min-width: 992px) {
      /* Desktops and above */
      .nav-link {
        margin-left: 30px;
        margin-right: 30px;
      }
      #search-bar {
        width: 40%;
      }
    }
    @media (max-width: 576px) {
      /* Mobile */
      .nav-link {
        margin-left: 30px;
        margin-right: 30px;
      }
      #search-bar {
        width: 80%;
      }
    }
    .nav-link:hover {
      border-color: green; /* Adjust the color to your preference */
    }
  </style>
</head>
