<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Scruter</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<meta name="description"
  content="Scruter is a local classifieds and community site designed to bring people together for buying, selling, and exchanging goods and services.">
<meta name="keywords" content="scruter, classifieds">
<meta name="author" content="Swaroop Patil">

<!-- Open Graph Meta Tags -->
<meta property="og:title" content="Scruter">
<meta property="og:type" content="website">
<meta property="og:url" content="https://scruter.vercel.app">
<meta property="og:image" content="https://scruter.vercel.app/screenshot.png">
<meta property="og:description"
  content="Scruter is a local classifieds and community site designed to bring people together for buying, selling, and exchanging goods and services.">
<meta property="og:locale" content="en_US">
<meta property="og:site_name" content="Scruter">

<!-- Twitter Card Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Scruter">
<meta name="twitter:description"
  content="Scruter is a local classifieds and community site designed to bring people together for buying, selling, and exchanging goods and services.">
<meta name="twitter:image" content="https://scruter.vercel.app/screenshot.png">
<meta name="twitter:site" content="@swarooppatilx">
<meta name="twitter:creator" content="@swarooppatilx">

<meta name="theme-color" content="#000000">
<link rel="manifest" href="/manifest.json">
<link rel="apple-touch-icon" href="/icon.png">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">

<meta name="robots" content="index, follow">
<link rel="canonical" href="https://scruter.vercel.app" />
<meta name="google-site-verification" content="tRJwzAF7hj7O-nG5D9oPvHzdd_DYIuwpMft4u4ltxps" />


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TVZP9ZS1B7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'G-TVZP9ZS1B7');
</script>



<!-- Bootstrap CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap Bundle with Popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<!-- GSAP -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/ScrollTrigger.min.js"></script>
<!-- Font Awesome CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
  integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- Custom CSS -->
<link rel="stylesheet" href="css/global.css">
<link rel="stylesheet" href="css/preloader.css">

<style>
  /* Stylish Scrollbar with Smooth Corners and Animations for WebKit Browsers (Chrome, Safari) */
  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  ::-webkit-scrollbar-track {
    background: linear-gradient(180deg, #f3f4f6, #e5e7eb);
    border-radius: 12px;
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #14A44D, #DC4C64);
    border-radius: 12px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3);
    border: 3px solid #f3f4f6;
    transition: background 0.3s ease, transform 0.2s ease;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #0c8030, #b82d44);
    transform: scale(1.1);
    /* Slightly enlarges the thumb on hover */
  }

  /* Animations for Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #14A44D #f3f4f6;
  }

  /* Track */
  *::-moz-scrollbar-track {
    background: #f3f4f6;
    border-radius: 12px;
  }

  /* Thumb */
  *::-moz-scrollbar-thumb {
    background: #131414;
    border-radius: 12px;
    border: 3px solid #f3f4f6;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background 0.3s ease, transform 0.2s ease;
  }

  /* Hover Effect */
  *::-moz-scrollbar-thumb:hover {
    background: #0c8030;
    transform: scale(1.1);
    /* Slightly enlarges the thumb on hover */
  }

  /* Smooth Scrolling Animation */
  html {
    scroll-behavior: smooth;
  }
</style>
<% if (user) { %>
  <style>
    #navbar-links {
      padding-left: 180px;
    }
  </style>
  <% } else { %>
    <style>
      #navbar-links {
        padding-right: 110px;
      }
    </style>
    <% } %>


      <style>
        .navbar-b {
          box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
        }

        .dropdown-menu-b {
          bottom: 100%;
          left: 25%;
          transform: translateX(-50%);
        }
      </style>

      <% if (user) { %>
        <style>
          .nav-link-b {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #14A44D;
          }
        </style>
        <% } else { %>
          <style>
            .nav-link-b {
              display: flex;
              justify-content: center;
              align-items: center;
              color: #DC4C64;
            }
          </style>
          <% } %>


            <!-- preloader -->
            <div id="preloader">
              <div class="wrapper">
                <div class="box-wrap">
                  <div class="box one"></div>
                  <div class="box two"></div>
                  <div class="box three"></div>
                  <div class="box four"></div>
                  <div class="box five"></div>
                  <div class="box six"></div>
                </div>
              </div>
            </div>

            <!-- Scroll to top Button -->
            <button id="scrollTopButton" class="scroll-button d-none d-md-block z-3">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 4L4 12H8V20H16V12H20L12 4Z" fill="white" />
              </svg>
            </button>
            <script>
              // Show the scroll-to-top button when scrolled down
              function toggleScrollButton() {
                var scrollButton = document.getElementById('scrollTopButton');
                var scrollThreshold = 200;  // Threshold in pixels to show button

                if (window.scrollY > scrollThreshold) {
                  // Remove 'd-none' to show the button and ensure it remains invisible on small screens
                  scrollButton.classList.remove('d-none');
                  scrollButton.classList.add('d-md-block');
                } else {
                  // Add 'd-none' to hide the button and 'd-md-block' is only effective on medium screens and up
                  scrollButton.classList.add('d-none');
                  scrollButton.classList.remove('d-md-block');
                }
              }

              // Call the function on page load and on scroll
              window.addEventListener('load', toggleScrollButton);
              window.addEventListener('scroll', toggleScrollButton);

              // Scroll to the top when button is clicked
              document.getElementById("scrollTopButton").onclick = function () {
                window.scrollTo({ top: 0, behavior: "smooth" });
              };

              // /preloader js styling
              let preloader = document.querySelector("#preloader");
              window.addEventListener("load", function (e) {
                preloader.style.display = "none";
              });
            </script>