<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scruter</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta name="description" content="Scruter is a local classifieds and community site designed to bring people together for buying, selling, and exchanging goods and services.">
    <meta name="keywords" content="scruter, classifieds">
    <meta name="author" content="Swaroop Patil">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Scruter">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://scruter.onrender.com">
    <meta property="og:image" content="https://scruter.onrender.com/icon.webp">
    <meta property="og:description" content="Scruter is a local classifieds and community site designed to bring people together for buying, selling, and exchanging goods and services.">
    <meta property="og:locale" content="en_US">

     <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Scruter">
    <meta name="twitter:description" content="Scruter is a local classifieds and community site designed to bring people together for buying, selling, and exchanging goods and services.">
    <meta name="twitter:image" content="https://scruter.onrender.com/icon.webp">
    <meta name="twitter:site" content="@SastaTonyStark">
    <meta name="twitter:creator" content="@SastaTonyStark">

    <meta name="theme-color" content="#000000">
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="/icon.webp">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <meta name="robots" content="index, follow">
    <link rel="canonical" href="https://scruter.onrender.com" />
    <meta name="google-site-verification" content="_oj6zj-kGPf-RZHyjieJIjyA78UkgO4lh0-4AN7CGLk" />

   <!-- Bootstrap CSS -->
   <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
   <!-- jQuery -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <!-- Bootstrap Bundle with Popper -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
   <!-- Font Awesome CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 
   <style>
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');
    body {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    background-color: #EDF4F2;
}

    .nav-link {
      margin: 0;
      border: 2px solid transparent;
      border-radius: 8px;
      transition: border-color 0.3s;
    }

    .nav-link:hover {
      border-color: #0078d7;
    }

    .nav-link.active {
      font-weight: bold;
      color: #0078d7 !important; /* Highlight color */
    }

    #search-bar {
      margin: 0 auto; /* Center the search bar */
      max-width: 100%; /* Ensure search bar doesn't exceed screen width */
    }

    /* Mobile styles */
    @media (max-width: 576px) {
      .nav-link {
        margin: 10px 0; /* Adjust spacing for mobile */
      }
      #search-bar {
        width: 95%; /* Wider on mobile */
      }
    }

    /* Small laptops and above */
    @media (min-width: 768px) {
      .nav-link {
        margin: 0 15px; /* Adjust spacing for small laptops */
      }
      #search-bar {
        width: 80%; /* Moderate width on tablets */
      }
    }

    /* Desktops and above */
    @media (min-width: 992px) {
      .nav-link {
        margin: 0 25px; /* Adjust spacing for desktops */
      }
      
      #search-bar {
        width: 80%; /* More narrow on desktops */
      }
      <% if (user) { %>
      #navbar-links {
        padding-left: 180px;
      }
      <% } else { %>
        #navbar-links {
        padding-right: 110px;
      }
      <% } %>
    }

    .navbar-b {
      box-shadow: 0 -1px 5px rgba(0,0,0,0.1);
    }

    .dropdown-menu-b {
      bottom: 100%;
      left: 25%;
      transform: translateX(-50%);
    }
    
    <% if (user) { %>
      .nav-link-b {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #14A44D;
    }
      <% } else { %>
      .nav-link-b {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #DC4C64;
    }
      <% } %>
   </style>