<div class="input-group m-4 w-75 mx-auto">
  <span class="input-group-text bg-dark text-light"><i class="fa-solid fa-magnifying-glass"></i></span>
  <input type="text" class="form-control" placeholder="Search">
  <button class="btn btn-dark text-light" type="button">Search</button>
</div>