<!DOCTYPE html>
<html lang="en">
<head>
<!-- Add service worker -->
<script>
  if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/sw.js')
          .then((registration) => {
              console.log('Service Worker registered with scope:', registration.scope);
          })
          .catch((error) => {
              console.error('Service Worker registration failed:', error);
          });
  }
</script>

    <%- include('partials/head') %> 
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="justify-content-center mb-3"><img src="/background.jpg" style="width: 100%; height: auto;" class="img-fluid"></div>

     <!-- Search Bar -->
    <%- include('partials/searchbar') %>

 <!-- Mission Section -->
<section class="mission-section text-center">
  <div class="container">
    <h2 class="mb-4">Welcome to BuzzList</h2>
    <p class="lead">Your go-to platform for buying, selling, and finding everything you need locally.</p>
    <p>Connecting communities and making local commerce easy and accessible for everyone.</p>
    <a href="/auth" class="btn btn-lg cta-button btn-outline-dark">Join Now</a>
  </div>
</section>

<!-- Information Section -->
<section class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <h3>What is BuzzList?</h3>
      <p>BuzzList is a local classifieds and community site designed to bring people together for buying, selling, and exchanging goods and services.</p>
    </div>
    <div class="col-md-4">
      <h3>How It Works</h3>
      <p>Post ads, browse listings, and connect with others in your community. Whether you're looking for a job, a place to live, or something to buy, BuzzList has it all.</p>
    </div>
    <div class="col-md-4">
      <h3>Get Started</h3>
      <p>Creating an account is easy and free. Start posting your ads and discover what your community has to offer today!</p>
    </div>
  </div>
</section>
<%- include('partials/bottom_nav') %>
</body>
</html>