<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
    <style>
     /* Scroll Bar Styling */

    ::-webkit-scrollbar{

      width: 0.8em;
    }

    ::-webkit-scrollbar-track{
      background: transparent;
      border-radius: 100vw;
      margin-block:.5em ;
      scroll-behavior:smooth;
    }        
    ::-webkit-scrollbar-thumb{
      background-color:#198754 ;
      border-radius: 10vw;
    } 
    @supports (scrollbar-color:#198754){
      *{
          scrollbar-color:#198754;
      }
    }
      /* preloader styling  */
     *, *:before, *:after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
      #preloader{

        height: 100vh;
        width: 100%;
        position: fixed;
        z-index: 200;
        min-height: 100vh;
        background: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;}
      .wrapper {
          position: absolute;
          left: 50%;
          top: 50%;
          margin: -100px;
          width: 200px;
          height: 200px;
          background-color: transparent;
          border: none;
          -webkit-user-select: none;
      }
      .wrapper .box-wrap {
          width: 70%;
          height: 70%;
          margin: calc((100% - 70%)/2) calc((100% - 70%)/2);
          position: relative;
          transform: rotate(-45deg);
      }
      .wrapper .box-wrap .box {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          background: rgba(135, 0, 0, .6);
          background: linear-gradient(to right, #141562, #486fbc, #eab5a1, #8dd6ff, #4973c9, #d07ca7, #f4915e, #f5919e, #b46f89, #141562, #486fbc);
          background-position: 0% 50%;
          background-size: 1000% 1000%;
          visibility: hidden;
      }
      .wrapper .box-wrap .box.one {
            animation: moveGradient 15s infinite, oneMove 3.5s infinite;
      }
      .wrapper .box-wrap .box.two {
          animation: moveGradient 15s infinite, twoMove 3.5s 0.15s infinite;
      }
      .wrapper .box-wrap .box.three {
          animation: moveGradient 15s infinite, threeMove 3.5s 0.3s infinite;
      }
      .wrapper .box-wrap .box.four {
          animation: moveGradient 15s infinite, fourMove 3.5s 0.575s infinite;
      }
      .wrapper .box-wrap .box.five {
          animation: moveGradient 15s infinite, fiveMove 3.5s 0.725s infinite;
      }
      .wrapper .box-wrap .box.six {
          animation: moveGradient 15s infinite, sixMove 3.5s 0.875s infinite;
      }
            @keyframes moveGradient {
                to {
                    background-position: 100% 50%;
            }
            }
            @keyframes oneMove {
                  0% {
                      visibility: visible;
                      clip-path: inset(0% 35% 70% round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
                  14.2857% {
                      clip-path: inset(0% 35% 70% round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
                  28.5714% {
                      clip-path: inset(35% round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
                  42.8571% {
                      clip-path: inset(35% 70% 35% 0 round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
                  57.1428% {
                      clip-path: inset(35% 70% 35% 0 round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
                  71.4285% {
                      clip-path: inset(0% 70% 70% 0 round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
                  85.7142% {
                      clip-path: inset(0% 70% 70% 0 round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
                  100% {
                      clip-path: inset(0% 35% 70% round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
            }
            @keyframes twoMove {
                  0% {
                      visibility: visible;
                      clip-path: inset(0% 70% 70% 0 round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
                  14.2857% {
                      clip-path: inset(0% 70% 70% 0 round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
                  28.5714% {
                      clip-path: inset(0% 35% 70% round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
                  42.8571% {
                      clip-path: inset(0% 35% 70% round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
                  57.1428% {
                      clip-path: inset(35% round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
                  71.4285% {
                      clip-path: inset(35% 70% 35% 0 round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
                  85.7142% {
                      clip-path: inset(35% 70% 35% 0 round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
                  100% {
                      clip-path: inset(0% 70% 70% 0 round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
            }
            @keyframes threeMove {
                  0% {
                      visibility: visible;
                      clip-path: inset(35% 70% 35% 0 round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
                  14.2857% {
                      clip-path: inset(35% 70% 35% 0 round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
                  28.5714% {
                      clip-path: inset(0% 70% 70% 0 round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
                  42.8571% {
                      clip-path: inset(0% 70% 70% 0 round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
                  57.1428% {
                      clip-path: inset(0% 35% 70% round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
                  71.4285% {
                      clip-path: inset(0% 35% 70% round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
                  85.7142% {
                      clip-path: inset(35% round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
                  100% {
                      clip-path: inset(35% 70% 35% 0 round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
            }
            @keyframes fourMove {
                  0% {
                      visibility: visible;
                      clip-path: inset(35% 0% 35% 70% round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
                  14.2857% {
                      clip-path: inset(35% 0% 35% 70% round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
                  28.5714% {
                      clip-path: inset(35% round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
                  42.8571% {
                      clip-path: inset(70% 35% 0% 35% round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
                  57.1428% {
                      clip-path: inset(70% 35% 0% 35% round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
                  71.4285% {
                      clip-path: inset(70% 0 0 70% round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
                  85.7142% {
                      clip-path: inset(70% 0 0 70% round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
                  100% {
                      clip-path: inset(35% 0% 35% 70% round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
            }
            @keyframes fiveMove {
                  0% {
                      visibility: visible;
                      clip-path: inset(70% 0 0 70% round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
                  14.2857% {
                      clip-path: inset(70% 0 0 70% round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
                  28.5714% {
                      clip-path: inset(35% 0% 35% 70% round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
                  42.8571% {
                      clip-path: inset(35% 0% 35% 70% round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
                  57.1428% {
                      clip-path: inset(35% round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
                  71.4285% {
                      clip-path: inset(70% 35% 0% 35% round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
                  85.7142% {
                      clip-path: inset(70% 35% 0% 35% round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
                  100% {
                      clip-path: inset(70% 0 0 70% round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
            }
            @keyframes sixMove {
                  0% {
                      visibility: visible;
                      clip-path: inset(70% 35% 0% 35% round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
                  14.2857% {
                      clip-path: inset(70% 35% 0% 35% round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
                  28.5714% {
                      clip-path: inset(70% 0 0 70% round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
                  42.8571% {
                      clip-path: inset(70% 0 0 70% round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
                  57.1428% {
                      clip-path: inset(35% 0% 35% 70% round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
                  71.4285% {
                      clip-path: inset(35% 0% 35% 70% round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
                  85.7142% {
                      clip-path: inset(35% round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
                  100% {
                      clip-path: inset(70% 35% 0% 35% round 5%);
                      animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
              }
            }

      .social-icons a {
      transition: all .38s ease;
      font-size: 25px;
      margin-left: 10px;
      color: black;
      }
      .social-icons a:hover{
        color: white;
        transform: scale(1.2);
        padding: 2px 6px;
        border-radius: 4px;
      }
      #github:hover{
        background-color:#3a383c ;
      }
      #linkedin:hover{
        background-color:#0a66c2 ;
      }
      #instagram:hover{
        background-color: #e1306c;
      }
      #twitter:hover{
        background-color: #14171A;
      }
    </style>
</head>
<body>
    <%- include('partials/navbar') %>
    <!-- preloader -->
    <div id="preloader">
      <div class="wrapper">
          <div class="box-wrap">
              <div class="box one"></div>
              <div class="box two"></div>
              <div class="box three"></div>
              <div class="box four"></div>
              <div class="box five"></div>
              <div class="box six"></div>
          </div>
      </div>
    </div>

    <!-- Meet the Team Section -->
    <section class="team-section text-center mt-4 mb-5 pb-5">
      <div class="container">
        <h2 class="mb-4">Meet the Team</h2>
        <p class="lead">Get to know the amazing team behind Scruter.</p>
        <div class="row">
          <div class="col-md-4 mb-4">
            <img src="/swaroop.jpg" class="rounded-circle img-fluid mb-3" alt="Team Member 1">
            <h4>Swaroop Patil</h4>
            <p>Full Stack Developer</p>
            <div class="social-icons">
              <a href="https://instagram.com/swaroop.patil.x" id="instagram"><i class="fab fa-instagram"></i></a>
              <a href="https://x.com/sastatonystark" id="twitter"><i class="fab fa-x-twitter"></i></a>
              <a href="https://linkedin.com/in/swaroop-patil-x" id="linkedin"><i class="fab fa-linkedin"></i></a>
              <a href="https://github.com/swarooppatilx" id="github"><i class="fab fa-github"></i></a>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <img src="/ashish.jpg" class="rounded-circle img-fluid mb-3" alt="Team Member 2">
            <h4>Ashish Kharde</h4>
            <p>Frontend Developer</p>
            <div class="social-icons">
              <a href="https://instagram.com/ashish_kharde1" id="instagram"><i class="fab fa-instagram"></i></a>
              <a href="https://x.com/ashkharde" id="twitter"><i class="fab fa-x-twitter"></i></a>
              <a href="https://linkedin.com/in/ashish-kharde-b5a114288/" id="linkedin"><i class="fab fa-linkedin"></i></a>
              <a href="https://github.com/Ashish-kharde1" id="github"><i class="fab fa-github"></i></a>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <img src="/chinmay.jpg" id="chinmay-photo" class="rounded-circle img-fluid mb-3" alt="Team Member 3">
            <h4>Chinmay Nakwa</h4>
            <p id="chinmay-role">AI & ML</p>
            <div class="social-icons">
              <a href="https://instagram.com/chinmay._.29/" id="instagram"><i class="fab fa-instagram"></i></a>
              <a href="#" id="twitter"><i class="fab fa-x-twitter"></i></a>
              <a href="https://linkedin.com/in/chinmay-nakwa-9a0836241" id="linkedin"><i class="fab fa-linkedin"></i></a>
              <a href="https://github.com/ChinmayNakwa" id="github"><i class="fab fa-github"></i></a>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <img src="/omkar.jpg" class="rounded-circle img-fluid mb-3" alt="Team Member 4">
            <h4>Omkar Avasare</h4>
            <p>UI/UX</p>
            <div class="social-icons">
              <a href="https://instagram.com/omkar_avasare_" id="instagram"><i class="fab fa-instagram"></i></a>
              <a href="https://x.com/omkar_avasare" id="twitter"><i class="fab fa-x-twitter"></i></a>
              <a href="https://linkedin.com/in/omkar-avasare-302212279" id="linkedin"><i class="fab fa-linkedin"></i></a>
              <a href="https://github.com/Omkar-Avasare" id="github"><i class="fab fa-github"></i></a>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <img src="/hrikesh.jpg" class="rounded-circle img-fluid mb-3" alt="Team Member 5">
            <h4>Hrishikesh Wadhile</h4>
            <p>QA & Cross Platform</p>
            <div class="social-icons">
              <a href="https://instagram.com/hrishikesh_wadile" id="instagram"><i class="fab fa-instagram"></i></a>
              <a href="#" id="twitter"><i class="fab fa-x-twitter"></i></a>
              <a href="https://linkedin.com/in/hrishikesh-wadile-5b8284292" id="linkedin"><i class="fab fa-linkedin"></i></a>
              <a href="https://github.com/HrishikeshWadile" id="github"><i class="fab fa-github"></i></a>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <img src="/anushka.jpg" class="rounded-circle img-fluid mb-3" alt="Team Member 6">
            <h4>Anushka Gaikwad</h4>
            <p>Content Manager</p>
            <div class="social-icons">
              <a href="https://instagram.com/anushkagaikwad924" id="instagram"><i class="fab fa-instagram"></i></a>
              <a href="https://x.com/AnushkaGai32263" id="twitter"><i class="fab fa-x-twitter"></i></a>
              <a href="https://in.linkedin.com/in/anushka-gaikwad-562981310" id="linkedin"><i class="fab fa-linkedin"></i></a>
              <a href="#" id="github"><i class="fab fa-github"></i></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script>
      // /preloader js styling
      let preloader = document.querySelector("#preloader");
                window.addEventListener("load",function(e){
                    preloader.style.display = "none";
                });
      document.querySelector("#chinmay-photo").addEventListener("click", function(){
        document.querySelector("#chinmay-photo").setAttribute("src", "/chinmay2.jpg");
        document.querySelector("#chinmay-role").setHTMLUnsafe("AI Jargon Expert");
      });
    </script>

    <%- include('partials/bottom_nav') %>
</body>
</html>
