<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('partials/head') %> 
</head>
<body>
    <%- include('partials/navbar') %>

    <!-- Meet the Team Section -->
    <section class="team-section text-center">
      <div class="container">
        <h2 class="mb-4">Meet the Team</h2>
        <p class="lead">Get to know the amazing team behind Scruter.</p>
        <div class="row">
          <div class="col-md-4 mb-4">
            <img src="/swaroop.jpg" class="rounded-circle img-fluid mb-3" alt="Team Member 1">
            <h4>Swaroop Patil</h4>
            <p>Full Stack Developer</p>
          </div>
          <div class="col-md-4 mb-4">
            <img src="/ashish.jpg" class="rounded-circle img-fluid mb-3" alt="Team Member 2">
            <h4>Ashish Kharde</h4>
            <p>Frontend Developer</p>
          </div>
          <div class="col-md-4 mb-4">
            <img src="/chinmay.jpg" class="rounded-circle img-fluid mb-3" alt="Team Member 3">
            <h4>Chinmay Nakwa</h4>
            <p>Search Engine Optimization</p>
          </div>
          <div class="col-md-4 mb-4">
            <img src="/images/team4.jpg" class="rounded-circle img-fluid mb-3" alt="Team Member 4">
            <h4>Omkar Avsare</h4>
            <p>UI/UX</p>
          </div>
          <div class="col-md-4 mb-4">
            <img src="/images/team5.jpg" class="rounded-circle img-fluid mb-3" alt="Team Member 5">
            <h4>Hrikesh Wadhile</h4>
            <p>QA</p>
          </div>
          <div class="col-md-4 mb-4">
            <img src="/images/team6.jpg" class="rounded-circle img-fluid mb-3" alt="Team Member 6">
            <h4>Anushka Gaikwad</h4>
            <p>Content Manager</p>
          </div>
        </div>
      </div>
    </section>

    <%- include('partials/bottom_nav') %>
</body>
</html>
