DATABASE_URL="yourMongoDBurl/scruter"

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=email app id
SMTP_PASS=email app PW

NEXTAUTH_URL=http://localhost:3000 or prod url
NEXTAUTH_SECRET=password_nextauth for signing JWT tokens

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=""
NEXT_PUBLIC_CLOUDINARY_CLOUD_PRESET=""
